/* Base Stuff */
.irwa-navigation {
  background-image: url("https://static.wikitide.net/urbanshadewiki/d/d1/IRWA_Logo.svg");
  background-size: contain;
  background-position: center; /* For vertical configuration, justs overriden in horizontal configuration */
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  border-radius: 20px;
  max-width: 55em;
  margin: auto;
  padding: 5px;
  background-color: #e4e6ed; /* Base light mode colors */
  color: #000;
}

.irwa-header p {
  text-align: center;
  font-weight: bold;
  margin: 0.5em 0;
  padding: 0; /* For vertical configuration, justs overriden in horizontal configuration */
}

.irwa-title {
  font-size: 1.75em;
}

.irwa-header a {
  background-image: none !important;
  padding: 2px 10px !important;
  text-align: center;
  background-color: rgba(255, 255, 255, 80%); /* Base light mode colors */
  border: 2px solid #d4d2e1;
  border-radius: 6px;
}

.irwa-header a:hover {
  background-color: #fff;
}

.irwa-header a:active {
  background-color: #d4d2e1;
}

.irwa-members {
  border: 2px solid #d4d2e1;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 80%); /* Base light mode colors */
}

.irwa-member {
  min-width: 13em;
}

/* Horizontal Configuration - Overrides various vertical configuration stuff */
@media screen and (width >= 600px) {
  .irwa-conf-horizontal.irwa-navigation {
    display: flex;
  }
}

.irwa-conf-horizontal.irwa-navigation {
  background-position: 5px;
}

.irwa-conf-horizontal .irwa-header p {
  padding: 0 1em;
}

/* Darkmode and Adaptive Color - Overrides light colorization where applicable */
.irwa-color-dark.irwa-navigation,
html.skin-theme-clientpref-night .irwa-color-adaptive.irwa-navigation {
  background-color: #191c21;
  color: #fff;
}

.irwa-color-dark .irwa-header a:hover,
html.skin-theme-clientpref-night .irwa-color-adaptive .irwa-header a:hover {
  background-color: #000;
}

.irwa-color-dark .irwa-header a:active,
html.skin-theme-clientpref-night .irwa-color-adaptive .irwa-header a:active {
  background-color: #242231;
}

.irwa-color-dark .irwa-members,
.irwa-color-dark .irwa-header a,
html.skin-theme-clientpref-night .irwa-color-adaptive .irwa-members,
html.skin-theme-clientpref-night .irwa-color-adaptive .irwa-header a {
  background-color: rgba(0, 0, 0, 80%);
  border-color: #242231 !important;
}
