.irwa-color-light,
html.skin-theme-clientpref-day .irwa-color-adaptive {
  --irwa-navigation-background: #e4e6ed;
  --irwa-navigation-color: #000;
  --irwa-header-link-background: rgba(255, 255, 255, 0.8);
  --irwa-header-link-border-color: #d4d2e1;
  --irwa-header-link-hover-background: #fff;
  --irwa-header-link-active-background: #d4d2e1;
  --irwa-members-background: rgba(255, 255, 255, 0.8);
  --irwa-members-border-color: #d4d2e1;
}

@media screen and (prefers-color-scheme: light) {
  html.skin-theme-clientpref-os .irwa-color-adaptive {
    --irwa-navigation-background: #e4e6ed;
    --irwa-navigation-color: #000;
    --irwa-header-link-background: rgba(255, 255, 255, 0.8);
    --irwa-header-link-border-color: #d4d2e1;
    --irwa-header-link-hover-background: #fff;
    --irwa-header-link-active-background: #d4d2e1;
    --irwa-members-background: rgba(255, 255, 255, 0.8);
    --irwa-members-border-color: #d4d2e1;
  }
}

.irwa-color-dark,
html.skin-theme-clientpref-night .irwa-color-adaptive {
  --irwa-navigation-background: #191c21;
  --irwa-navigation-color: #fff;
  --irwa-header-link-background: rgba(0, 0, 0, 0.8);
  --irwa-header-link-border-color: #242231;
  --irwa-header-link-hover-background: #000;
  --irwa-header-link-active-background: #242231;
  --irwa-members-background: #191c21;
  --irwa-members-border-color: #333;
}

@media screen and (prefers-color-scheme: dark) {
  html.skin-theme-clientpref-os .irwa-color-adaptive {
    --irwa-navigation-background: #191c21;
    --irwa-navigation-color: #fff;
    --irwa-header-link-background: rgba(0, 0, 0, 0.8);
    --irwa-header-link-border-color: #242231;
    --irwa-header-link-hover-background: #000;
    --irwa-header-link-active-background: #242231;
    --irwa-members-background: #191c21;
    --irwa-members-border-color: #333;
  }
}

/* Base Stuff */
.irwa-navigation {
  background-image: url("https://static.wikitide.net/urbanshadewiki/d/d1/IRWA_Logo.svg");
  background-size: contain;
  background-position: center; /* For vertical configuration, justs overriden in horizontal configuration */
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  border-radius: 20px;
  max-width: 55em;
  margin: auto;
  padding: 5px;
  background-color: var(--irwa-navigation-background);
  color: var(--irwa-navigation-color);
}

.irwa-header p {
  text-align: center;
  font-weight: bold;
  margin: 0.5em 0;
  padding: 0; /* For vertical configuration, justs overriden in horizontal configuration */
}

.irwa-title {
  font-size: 1.75em;
}

.irwa-header a {
  background-image: none !important;
  padding: 2px 10px !important;
  text-align: center;
  background-color: var(--irwa-header-link-background);
  border: 2px solid var(--irwa-header-link-border-color);
  border-radius: 6px;
}

.irwa-header a:hover {
  background-color: var(--irwa-header-link-hover-background);
}

.irwa-header a:active {
  background-color: var(--irwa-header-link-active-background);
}

.irwa-members {
  border: 2px solid var(--irwa-members-border-color);
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--irwa-members-background);
}

.irwa-member {
  min-width: 13em;
}

/* Horizontal Configuration - Overrides various vertical configuration stuff */
@media screen and (width >= 600px) {
  .irwa-conf-horizontal.irwa-navigation {
    display: flex;
  }
}

.irwa-conf-horizontal.irwa-navigation {
  background-position: 5px;
}

.irwa-conf-horizontal .irwa-header p {
  padding: 0 1em;
}

/* Invert some icons in specific colour modes */

.irwa-color-light .irwa-member.invert-member-icon img,
html.skin-theme-clientpref-day .irwa-color-adaptive .irwa-member.invert-member-icon img {
  filter: invert(1);
}

@media screen and (prefers-color-scheme: light) {
  html.skin-theme-clientpref-os .irwa-color-adaptive .irwa-member.invert-member-icon img {
    filter: invert(1);
  }
}

.irwa-color-dark .irwa-member.invert-member-icon-dark img,
html.skin-theme-clientpref-night .irwa-color-adaptive .irwa-member.invert-member-icon-dark img {
  filter: invert(1);
}

@media screen and (prefers-color-scheme: dark) {
  html.skin-theme-clientpref-os .irwa-color-adaptive .irwa-member.invert-member-icon-dark img {
    filter: invert(1);
  }
}
